<section class="footer-section-up">
  <div>
    <p class="title-footer-options">Top Categories</p>
    <div class="container-footer-options">
      <a href="#" *ngFor="let category of footerCategories">
        {{category}}
      </a>
    </div>
  </div>

  <div >
    <p class="title-footer-options">More Categories</p>
    <div class="container-footer-options">
      <a href="#" *ngFor="let moreCategory of footerMoreCategories">
        {{moreCategory}}
      </a>

    </div>
  </div>

  <div >
    <p class="title-footer-options">Customer Care</p>
    <div class="container-footer-options">
      <a href="#" *ngFor="let care of footerCustomerCare">
        {{care}}
      </a>

    </div>
  </div>

  <div >
    <p class="title-footer-options">Explore Manchester United</p>
    <div class="container-footer-options">
      <a href="" *ngFor="let exploreOption of footerExploreOptions">
        {{exploreOption}}
      </a>

    </div>
  </div>

  <div >
    <p class="title-footer-options">Legal</p>
    <div class="container-footer-options">
      <a href="" *ngFor="let legalOption of footerLegalOptions">
        {{legalOption}}
      </a>
    </div>
  </div>

  <div>
    <div class="social-media-container">
      <p class="title-footer-options">Social</p>
      <div class="icons-container-socialmedia">
        <div *ngFor="let icon of footerIcons" >
          <a href="" [innerHTML]="icon">
            {{icon}}
          </a>
        </div>

      </div>
    </div>


    <div class="medio-pago-container">
        <p class="title-footer-options">Payment and Delivery</p>
        <div class="icons-container-mediopago">
          <div><img src="/img/mediopago-1.png" class="img-medio-pago" alt=""></div>
          <div><img src="/img/mediopago-2.png" class="img-medio-pago" alt=""></div>
          <div><img src="/img/mediopago-3.png" class="img-medio-pago" alt=""></div>
          <div><img src="/img/mediopago-4.png" class="img-medio-pago" alt=""></div>
        </div>
        <a class="title-footer-options" href="">
          <i class="bi bi-globe"></i>
          PE(S/.)
        </a>
    </div>
  </div>


</section>


<section class="footer-section-down">
  <div>
    <img src="/img/logo-footer.png" class="logo-footer" alt="">
  </div>
  <p>
    © 2025 Manchester United. All rights reserved.
  </p>
</section>
