

.logo-header{
  width: 250px;
}


nav{
    background-color: white!important;
}

.icon-container{
  display: flex;
  column-gap: 25px;
}

.icon-container a{
  font-size: 22px!important;
}

.header--options:hover{
  color: #DB1D24!important;
}

.header--icons:hover{
    color: #DB1D24!important;
}

.contador{
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  right: 1.5%;
}
